.experience {
    display: table;
    @include font-size(14);
    .experience-item {
        display: table-row;
        .date {
            @include font-size(16);
            display: table-cell;
            font-family: $font-monospace;
            white-space: nowrap;
            text-align: right;
            padding-right: 20px;
        }
        .content {
            display: table-cell;
            padding-bottom: 20px;
            .position {
                font-weight: 700;
                @include font-size(16);
                margin-bottom: 0;
                .secondary {
                    //color: $light-blue;
                    font-weight: normal;
                }
            }
            .location {
                font-family: $font-monospace;
                margin-bottom: 0;
                a {
                    color: $light-blue;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .description {
                color: $blue;
                a {
                    color: $blue;
                    text-decoration: underline;
                    &:hover {
                        color: $light-blue;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .experience {
        display: block;
        .experience-item {
            display: block;
            position: relative;
            .date {
                display: block;
                text-align: left;
                position: absolute;
                top: 1px;
                right: 0;
            }
            .content {
                display: block;
                .position {
                    width: 80%;
                    width: calc(100% - 100px);
                }
            }
        }
    }
}