.experience {
    display: table;
    @include font-size(16);
    .experience-item {
        display: table-row;
        .date {
            display: table-cell;
            font-family: $font-monospace;
            white-space: nowrap;
            text-align: right;
            padding-right: 20px;
        }
        .content {
            display: table-cell;
            padding-bottom: 20px;
            .position {
                font-weight: 700;
                .secondary {
                    //color: $light-blue;
                    font-weight: normal;
                }
            }
            .location {
                font-family: $font-monospace;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .description {
                color: $light-blue;
                a {
                    color: $light-blue;
                    text-decoration: underline;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}