.projects {
    @include flexbox();
    @include flex-direction(column);
    .project-item {
        @include flexbox();
        @include flex-direction(row);
        margin-bottom: 20px;
        .content {
            padding-right: 20px;
            flex: 1;
            .title {

            }
            .link {
                
            }
            .description {
                

            }
        }

        .image {
            width: 35%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 700px){
    .projects {
        .project-item {
            @include flex-direction(column);
            margin-bottom: 40px;
            .image {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}